body {
  margin-left: 1cm;
  background-color: rgb(254, 252, 250);
}
nav {
  text-align: center;
}

h1 {
  text-align: center;
  font: black;
  font-size: bold;
}
.botao {
  text-align: center;
  font-weight: bold;
  width: 2.5cm;
  height: 2.5cm;
  order: solid 1px rgba(0, 0, 255, 0.203);
  border-radius: 20px;
  color: black;
  background-color: blue;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover {
  background-color: blue;
  color: black;
  transform: scale(1.2);
}
.cabe2 {
  text-align: center;
}
h2 {
  text-align: center;
  color: blueviolet;
  font-size: large;
}



.botao2 {
  background-color: antiquewhite;
  color: black;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ff5733;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }
}
.botao2:hover {
  box-shadow: inset 10px 10px 30px 30px #ff5733;
}
